/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

a,
button {
  cursor: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

@font-face {
  font-family: "Orelo SemiWide DemiBold";
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot");
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.svg#Orelo SemiWide DemiBold") format("svg");
}
@font-face {
  font-family: "Orelo SemiWide DemiBold Italic";
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot");
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.svg#Orelo SemiWide DemiBold Italic") format("svg");
}
/* Mouse Cursor Reset */
html {
  cursor: none;
}

.cursor {
  display: none;
  width: calc(var(--uw) * 0.8333333333);
  height: calc(var(--uw) * 0.8333333333);
  position: fixed;
  border-radius: 50%;
  background: #09ac06;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 1000;
}
.cursor.more::before {
  content: "more";
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.01rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.cursor-slide {
  position: absolute;
  color: #09ac06;
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 1000;
}
.cursor-slide.prev {
  width: calc(var(--uw) * 0.46875);
  height: calc(var(--uw) * 0.9375);
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: calc(var(--uw) * 0.46875), calc(var(--uw) * 0.9375);
  transform-origin: right;
}
.cursor-slide.next {
  width: calc(var(--uw) * 0.46875);
  height: calc(var(--uw) * 0.9375);
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: calc(var(--uw) * 0.46875), calc(var(--uw) * 0.9375);
  transform: rotate(180deg);
  transform-origin: left;
}

.gnb {
  display: flex;
  align-items: center;
  order: 1;
  justify-content: space-between;
  height: 6.5rem;
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid #ececec;
  z-index: 2;
}
.gnb__logo {
  padding-left: 4vw;
}
.gnb__menu-tab {
  display: flex;
  height: 100%;
}
.gnb__menu-tab li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.4rem;
}
.gnb__menu-tab li a {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.gnb__menu-tab li a::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0.2rem solid #000000;
  transition: width 0.2s;
}
.gnb__menu-tab li.--active a::after {
  width: 100%;
}
.gnb__search {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-right: 4vw;
}
.gnb__search--left {
  display: flex;
  gap: 0.5rem;
  width: 20rem;
  height: 3.2rem;
  border-radius: 2.5rem;
  background-color: #000000;
}
.gnb__search--right {
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../assets/icons/circle-search-32x32-black.svg");
  background-size: 3.2rem 3.2rem;
}
.gnb__search--right.--active {
  background: url("../../assets/icons/circle-close-32x32-black.svg");
}

.branch-info-ani {
  display: flex;
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  border-radius: 2.5rem;
  color: #ffffff;
  overflow: hidden;
}
.branch-info-ani > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.branch-info-ani > div span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}
.branch-info-ani > div span:first-child {
  margin-left: 0.8rem;
}
.branch-info-ani > div span::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background: url("../../assets/images/quick.gif") center;
  background-size: 1.8rem 1.8rem;
}

.gnb__menu-content {
  width: 100%;
  height: var(--content-height);
  position: absolute;
  top: 9.5rem;
  background-color: #ffffff;
  border-bottom: 0.14rem solid #ececec;
  overflow: hidden;
  transition: height 0.3s;
  z-index: 1;
}

.contents-list {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #666666;
}
.contents-list.--active {
  display: flex;
  justify-content: center;
  gap: 18rem;
  width: 100%;
}
.contents-list__tab {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 4rem 0 8rem;
}
.contents-list__menu {
  display: none;
  gap: 0 7rem;
  min-width: 70rem;
  padding: 4rem 0 8rem;
}
.contents-list__menu.--active {
  display: flex;
}
.contents-list__menu li {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  min-width: 12.8rem;
}
.contents-list__menu li ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.9rem 5.8rem;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 39rem;
}
.contents-list__menu li ul li {
  width: -moz-fit-content;
  width: fit-content;
}

.list-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.list-title.underline {
  font-weight: 400;
  color: #666666;
  transition: all 0.2s;
}
.list-title.underline::after {
  content: "";
  width: 0;
  height: 0.01rem;
  background-color: #000000;
  transition: width 0.2s;
}
.list-title.underline.--active {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: 500;
}
.list-title.underline.--active::after {
  width: 100%;
}

.list-item {
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  color: #666666;
  transition: all 0.2s;
}
.list-item.title {
  font-size: 1.5rem;
  font-weight: 500;
}
.list-item::after {
  content: "";
  display: block;
  width: 0;
  height: 0.01rem;
  position: absolute;
  background-color: #666666;
  transition: width 0.2s;
}
.list-item:hover {
  color: #000000;
  font-weight: 500;
}
.list-item:hover::after {
  width: 100%;
}

#culture-life ul {
  display: flex;
  gap: 12rem;
  padding: 4rem 0 8rem;
}

.gnb__branchinfo-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: transparent;
  z-index: 3;
}

.gnb__search-box .search-dimmed {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 9.5rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.gnb__search-box .search-area {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 0;
  position: absolute;
  top: 9.5rem;
  left: 0;
  background-color: #ffffff;
  border-bottom: 0.14rem solid #ececec;
  z-index: 1;
  overflow: hidden;
}
.gnb__search-box .search-area .search-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  width: -moz-fit-content;
  width: fit-content;
  height: 45.5rem;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.01rem;
}
.gnb__search-box .search-area .search-wrap--top {
  display: flex;
  align-items: center;
  width: 99.8rem;
  height: 6.8rem;
  padding-right: 2.5rem;
  border: 0.1rem solid #000000;
  border-radius: 100rem;
}
.gnb__search-box .search-area .search-wrap--top .search-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  position: relative;
  padding: 0 3rem;
  font-size: 1.6rem;
  font-weight: 500;
}
.gnb__search-box .search-area .search-wrap--top .search-select > div {
  display: flex;
  gap: 0.4em;
}
.gnb__search-box .search-area .search-wrap--top .search-select > div span:last-child {
  font-weight: 700;
}
.gnb__search-box .search-area .search-wrap--top .search-select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 2.4rem;
  background-color: #d9d9d9;
}
.gnb__search-box .search-area .search-wrap--top .search-select::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../assets/icons/bottom-16x16-black.svg) no-repeat center;
  background-size: 1.6rem 1.6rem;
  transition: transform 0.3s;
}
.gnb__search-box .search-area .search-wrap--top .search-select.--active::after {
  transform: rotate(180deg);
}
.gnb__search-box .search-area .search-wrap--top .search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 50%;
  padding-left: 2.5rem;
}
.gnb__search-box .search-area .search-wrap--top .search-input input {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
}
.gnb__search-box .search-area .search-wrap--top .search-input input::-moz-placeholder {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  color: #acacac;
}
.gnb__search-box .search-area .search-wrap--top .search-input input::placeholder {
  height: 100%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  color: #acacac;
}
.gnb__search-box .search-area .search-wrap--top .search-input::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background: url(../../assets/icons/search-20x20-black.svg) no-repeat center;
  background-size: 2rem 2rem;
}
.gnb__search-box .search-area .search-wrap--bottom {
  display: flex;
  width: 82rem;
  gap: 10rem;
  padding-bottom: 6.4rem;
}
.gnb__search-box .search-area .search-wrap--bottom h3 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  position: relative;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword div {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.01rem;
  color: #acacac;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword button {
  position: absolute;
  top: 0.4rem;
  right: 0;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  color: #666666;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -5rem;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 13.7rem;
  background-color: #d9d9d9;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword ul li {
  padding: 1rem;
  border-radius: 2.5rem;
  background-color: #f6f6f6;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01rem;
  color: #333333;
}
.gnb__search-box .content {
  position: absolute;
  top: 26rem;
  transform-origin: top left;
}

.lang-btn {
  position: relative;
}
.lang-btn .lang {
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 2rem;
  right: -4rem;
  z-index: 2;
}
.lang-btn .lang .lang-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 7.8rem;
  padding: 1.4rem 0;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.8rem;
}
.lang-btn .lang .lang-wrap::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 0.9rem solid #000000;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
}
.lang-btn .lang .lang-wrap span {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #ffffff;
}
.lang-btn .lang .lang-wrap span::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  width: 0;
  height: 0.1rem;
  background-color: #ececec;
  transition: width 0.2s;
}
.lang-btn .lang .lang-wrap span:hover::before {
  width: 100%;
}

.gnb__search--left .content, .gnb__search-box .content {
  width: 0;
  height: 0;
  background-color: #ffffff;
  border: 0.1rem solid #666666;
  border-radius: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
  z-index: 3;
}
.gnb__search--left .content .content-wrap, .gnb__search-box .content .content-wrap {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  width: 67.5rem;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem;
  padding-top: 2rem;
  letter-spacing: -0.01rem;
}
.gnb__search--left .content .content-wrap .content-title-wrap, .gnb__search-box .content .content-wrap .content-title-wrap {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #d9d9d9;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title, .gnb__search-box .content .content-wrap .content-title-wrap .content-title {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
  color: #acacac;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title:hover, .gnb__search-box .content .content-wrap .content-title-wrap .content-title:hover {
  color: #000000;
  font-weight: 700;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #000000;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title.--active, .gnb__search-box .content .content-wrap .content-title-wrap .content-title.--active {
  color: #000000;
  font-weight: 700;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #000000;
}
.gnb__search--left .content .content-wrap .content-list, .gnb__search-box .content .content-wrap .content-list {
  display: none;
  flex-direction: column;
  gap: 2.8rem;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active, .gnb__search-box .content .content-wrap .content-list.shopping-mall.--active {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li, .gnb__search-box .content .content-wrap .content-list.shopping-mall.--active li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-radius: 0.6rem;
  background-color: #f6f6f6;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li:hover, .gnb__search-box .content .content-wrap .content-list.shopping-mall.--active li:hover {
  background-color: #e0f55c;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li .sub-list, .gnb__search-box .content .content-wrap .content-list.shopping-mall.--active li .sub-list {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}
.gnb__search--left .content .content-wrap .content-list.--active, .gnb__search-box .content .content-wrap .content-list.--active {
  display: flex;
}
.gnb__search--left .content .content-wrap .content-list li, .gnb__search-box .content .content-wrap .content-list li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.gnb__search--left .content .content-wrap .content-list li .sub-title, .gnb__search-box .content .content-wrap .content-list li .sub-title {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}
.gnb__search--left .content .content-wrap .content-list li ul, .gnb__search-box .content .content-wrap .content-list li ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.gnb__search--left .content .content-wrap .content-list li ul li, .gnb__search-box .content .content-wrap .content-list li ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-radius: 0.6rem;
  background-color: #f6f6f6;
}
.gnb__search--left .content .content-wrap .content-list li ul li:hover, .gnb__search-box .content .content-wrap .content-list li ul li:hover {
  background-color: #e0f55c;
}
.gnb__search--left .content .content-wrap .content-list li ul li .sub-list, .gnb__search-box .content .content-wrap .content-list li ul li .sub-list {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}

.gnb__search--left {
  position: relative;
}
.gnb__search--left .content {
  position: absolute;
  top: 4.8rem;
  right: 0;
  transform-origin: top right;
}

.all-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(var(--uw) * 0.4166666667) calc(var(--uw) * 0.9375);
  position: relative;
  border: 0.1rem solid #000000;
  border-radius: calc(var(--uw) * 15.625);
  overflow: hidden;
}
.all-contents__text {
  font-weight: 400;
  font-size: calc(var(--uw) * 0.9375);
  font-family: "Noto Sans LANG";
  line-height: 1.5;
  letter-spacing: -0.02rem;
  color: #000000;
  text-transform: uppercase;
  z-index: 1;
}
.all-contents__circle {
  width: calc(var(--uw) * 3.125);
  height: calc(var(--uw) * 3.125);
  position: absolute;
  top: 100%;
  border-radius: 50%;
  background-color: #000000;
}
.all-contents.dark {
  border: 0.1rem solid #ffffff;
}
.all-contents.dark .text {
  color: #ffffff;
}
.all-contents.dark .circle {
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

#scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  color: #ffffff;
  line-height: 0;
  z-index: 101;
  overflow: hidden;
  transform: scale(0);
}
#scroll-to-top .circle {
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
}
#scroll-to-top .text-wrap {
  display: flex;
  position: absolute;
  top: 50%;
  letter-spacing: -0.2rem;
  font-family: "Orelo SemiWide DemiBold";
  z-index: 10;
}
#scroll-to-top .text-wrap .text {
  display: block;
  font-size: max(var(--uw) * 2, 2.8rem);
}
#scroll-to-top .text-wrap .text:nth-child(2) {
  letter-spacing: 0.1rem;
  font-family: "Orelo SemiWide DemiBold Italic";
}
#scroll-to-top svg {
  width: calc(var(--uw) * 1.1979166667);
  height: calc(var(--uw) * 1.875);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.spot-menu, .gnb {
  width: 100%;
  min-width: 120rem;
}

html,
body {
  overflow: hidden;
}

#scroll-container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.scrollbar-track-y {
  right: 0.1rem;
  background: transparent !important;
}
.scrollbar-track-y .scrollbar-thumb-y {
  width: 0.64rem;
}

.start-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 100;
}

.enjoy-your-time {
  padding-top: 9.6rem;
  min-width: 100rem;
  height: 120vh;
}
.enjoy-your-time__wrap {
  width: 100%;
  height: 100%;
  position: relative;
}
.enjoy-your-time__wrap img {
  width: 60.833vw;
  height: 34.2706vw;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
}
.enjoy-your-time__wrap p {
  width: 100%;
  min-width: 75rem;
  position: absolute;
  top: 28vw;
  font-family: "Orelo SemiWide DemiBold Italic";
  font-size: max(9.375vw, 8.7rem);
  color: #ffffff;
  text-align: center;
  mix-blend-mode: difference;
  letter-spacing: -0.02rem;
  line-height: 100%;
  z-index: 1;
}
.enjoy-your-time__wrap p .line:first-child .word:first-child {
  position: relative;
}
.enjoy-your-time__wrap p .line:first-child .word:first-child .char:last-child {
  position: absolute;
  top: -22%;
  right: -12%;
  transform: scaleY(0.9);
}

.whats-on-slider {
  display: flex;
  flex-direction: column;
  gap: calc(var(--uw) * 2.2916666667);
  width: 100%;
  height: 80vh;
  background-color: #ffffff;
}
.whats-on-slider ul {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.whats-on-slider ul li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 26vw;
}
.whats-on-slider ul li:nth-child(3) a, .whats-on-slider ul li:nth-child(6) a {
  border-radius: 50%;
  overflow: hidden;
}
.whats-on-slider ul li:last-child {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 2vw;
  padding-top: 1vw;
  padding-right: 1vw;
}
.whats-on-slider ul li:last-child a {
  position: relative;
}
.whats-on-slider ul li:last-child a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(var(--uw) * 3.1770833333);
  height: calc(var(--uw) * 1.9791666667);
  background: url("../../assets/icons/more-arrow.svg") no-repeat;
  background-size: calc(var(--uw) * 3.1770833333), calc(var(--uw) * 1.9791666667);
}
.whats-on-slider ul li:last-child a img {
  width: calc(var(--uw) * 14.0625);
  height: calc(var(--uw) * 14.0625);
}
.whats-on-slider ul li:nth-child(2) a .slide {
  background: linear-gradient(rgba(187, 176, 111, 0) 0%, rgb(111, 122, 187) 100%);
}
.whats-on-slider ul li:nth-child(3) a .slide {
  background: linear-gradient(rgba(81, 67, 61, 0) 0%, rgb(61, 75, 81) 100%);
}
.whats-on-slider ul li:nth-child(4) a .slide {
  background: linear-gradient(rgba(170, 176, 145, 0) 0%, rgb(151, 145, 176) 100%);
}
.whats-on-slider ul li:nth-child(5) a .slide {
  background: linear-gradient(rgba(146, 193, 148, 0) 0%, rgb(193, 146, 191) 100%);
}
.whats-on-slider ul li:nth-child(6) a .slide {
  background: linear-gradient(rgba(220, 220, 197, 0) 0%, rgb(197, 197, 220) 100%);
}
.whats-on-slider ul li:nth-child(7) a .slide {
  background: linear-gradient(rgba(151, 101, 68, 0) 0%, rgb(68, 118, 151) 100%);
}
.whats-on-slider ul li:nth-child(8) a .slide {
  background: linear-gradient(rgba(158, 167, 175, 0) 0%, rgb(175, 166, 158) 100%);
}
.whats-on-slider ul li:nth-child(9) a .slide {
  background: linear-gradient(rgba(51, 189, 132, 0) 0%, rgb(189, 51, 108) 100%);
}
.whats-on-slider ul li:nth-child(10) a .slide {
  background: linear-gradient(rgba(171, 170, 115, 0) 0%, rgb(115, 116, 171) 100%);
}
.whats-on-slider ul li:nth-child(11) a .slide {
  background: linear-gradient(rgba(217, 207, 201, 0) 0%, rgb(201, 211, 217) 100%);
}
.whats-on-slider ul li:nth-child(12) a .slide {
  background: linear-gradient(rgba(241, 235, 201, 0) 0%, rgb(201, 207, 241) 100%);
}
.whats-on-slider ul li div {
  display: flex;
  gap: 2rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: max(0.9375vw, 1.6rem);
  font-weight: 400;
}
.whats-on-slider ul li a {
  display: block;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  position: relative;
}
.whats-on-slider ul li a .slide {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(rgba(106, 128, 128, 0) 0%, rgb(128, 106, 106) 100%);
  opacity: 0;
  transition: opacity 0.5s;
}
.whats-on-slider ul li a .slide__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: calc(var(--uw) * 15.3125);
  padding-bottom: max(var(--uw) * 2.0833333333, 30px);
  font-family: "Noto Sans KR", sans-serif;
  font-size: 2rem;
  color: #ffffff;
}
.whats-on-slider ul li a .slide__wrap__target {
  font-size: max(0.8333vw, 12px);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
}
.whats-on-slider ul li a .slide__wrap__title, .whats-on-slider ul li a .slide__wrap__sub-title {
  font-size: max(1.25vw, 16px);
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.5;
}
.whats-on-slider ul li a .slide__wrap__title {
  margin-top: 0.8rem;
}
.whats-on-slider ul li a .slide__wrap__sub-title {
  margin-bottom: 0.8rem;
}
.whats-on-slider ul li a .slide__wrap__read-more {
  position: relative;
  font-size: calc(var(--uw) * 0.8333333333);
  font-weight: 400;
}
.whats-on-slider ul li a .slide__wrap__read-more::after {
  content: "";
  width: 0;
  height: 0.1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.5s;
}
.whats-on-slider ul li a:hover .slide {
  opacity: 1;
}
.whats-on-slider ul li a:hover .slide__wrap__read-more::after {
  width: 100%;
}
.whats-on-slider ul li a img {
  width: 100%;
  height: 100%;
}
.whats-on-slider h3 {
  padding: 0 4.1667vw;
  font-family: "Orelo SemiWide DemiBold";
  font-size: 7.5vw;
  letter-spacing: -0.02rem;
}
.whats-on-slider h3 span {
  font-family: "Orelo SemiWide DemiBold Italic";
}

.hot-keyword {
  display: flex;
  min-width: 120rem;
  width: 100%;
  height: 60vh;
  padding: 6vh 4.1667vw calc(var(--uw) * 5.8333333333);
  background-color: #ffffff;
  border-top: 0.1rem solid #cccccc;
  font-family: "Noto Sans KR", sans-serif;
}
.hot-keyword--left {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}
.hot-keyword--left h3 {
  font-size: max(3.125vw, 4rem);
  font-weight: 500;
  letter-spacing: -0.02rem;
}
.hot-keyword--left h3 span {
  font-family: "Orelo SemiWide DemiBold";
  font-size: max(3.125vw, 4rem);
  font-weight: 500;
  letter-spacing: -0.02rem;
}
.hot-keyword--left span {
  display: inline-block;
  font-size: max(1.0417vw, 1.6rem);
  font-weight: 400;
  letter-spacing: -0.03em;
  line-height: 1.5;
}
.hot-keyword--right {
  display: flex;
  flex-direction: column;
  gap: calc(var(--uw) * 1.25);
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}
.hot-keyword--right div {
  display: flex;
  align-items: center;
  gap: calc(var(--uw) * 0.5208333333);
  font-size: max(1.25vw, 1.6rem);
  font-weight: 400;
  letter-spacing: -0.02rem;
  line-height: 1.5;
}
.hot-keyword--right div span {
  padding: calc(var(--uw) * 0.4166666667) calc(var(--uw) * 1.0416666667);
  border-radius: 50rem;
  background-color: #000000;
  color: #ffffff;
}
.hot-keyword--right div img {
  width: calc(var(--uw) * 3.125);
  height: calc(var(--uw) * 3.125);
  -o-object-fit: cover;
     object-fit: cover;
}

.place-eat-culture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 120rem;
  width: 100%;
  height: 100vh;
  padding: max(2.5vw, 2.8rem) 4.1667vw;
  position: relative;
  background-color: #ffffff;
}
.place-eat-culture__intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  width: 100%;
  height: 100%;
  font-size: 6.4583vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-family: "Orelo SemiWide DemiBold";
  color: #000000;
}
.place-eat-culture__intro span .char {
  position: relative;
}
.place-eat-culture__intro span .char .title-block {
  position: absolute;
  top: 0;
  background-color: #ffffff;
  z-index: 1;
}
.place-eat-culture__category {
  display: none;
  align-items: center;
  gap: 2rem;
  color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
}
.place-eat-culture__category ul {
  display: flex;
  gap: calc(var(--uw) * 0.8333333333);
}
.place-eat-culture__category ul li button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.3rem;
  height: 5.2rem;
  border-radius: 50%;
  border: 0.14rem solid #ffffff;
  font-size: max(0.9375vw, 1.6rem);
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 1.5;
  text-transform: uppercase;
}
.place-eat-culture__category ul li button.--active {
  background-color: #ffffff;
  color: #000000;
}
.place-eat-culture__category span {
  font-size: 2rem;
}
.place-eat-culture__list {
  display: none;
  gap: 2rem;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  z-index: 6;
  opacity: 0;
}
.place-eat-culture__list ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.place-eat-culture__list ul li {
  width: 40rem;
  padding: 2rem;
  background-color: #ffffff;
}
.place-eat-culture__list ul li figure figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Noto Sans KR", sans-serif;
  margin-top: 2rem;
}
.place-eat-culture h3 {
  display: none;
  font-size: 21.875vw;
  font-weight: 500;
  letter-spacing: -0.02em;
  line-height: 0.83;
  font-family: "Orelo SemiWide DemiBold";
  color: #ffffff;
}
.place-eat-culture h3 .char {
  position: relative;
}
.place-eat-culture h3 .char::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #165bdc;
  z-index: 1;
}
.place-eat-culture h3 .char:nth-child(1) {
  z-index: 5;
}
.place-eat-culture h3 .char:nth-child(1)::before {
  left: var(--charLeft0);
}
.place-eat-culture h3 .char:nth-child(2) {
  z-index: 4;
}
.place-eat-culture h3 .char:nth-child(2)::before {
  left: var(--charLeft1);
}
.place-eat-culture h3 .char:nth-child(3) {
  z-index: 3;
}
.place-eat-culture h3 .char:nth-child(3)::before {
  left: var(--charLeft2);
}
.place-eat-culture h3 .char:nth-child(4) {
  z-index: 2;
}
.place-eat-culture h3 .char:nth-child(4)::before {
  left: var(--charLeft3);
}
.place-eat-culture h3 .char:nth-child(5) {
  z-index: 1;
}
.place-eat-culture h3 .char:nth-child(5)::before {
  left: var(--charLeft4);
}

.follow-instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--uw) * 3.3333333333);
  width: 100%;
  height: 80vh;
  min-height: 100vh;
  background-color: #000000;
}
.follow-instagram__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--uw) * 0.28125);
  color: #ffffff;
  font-weight: 400;
}
.follow-instagram__title span {
  font-family: "Noto Sans KR", sans-serif;
  font-size: max(1.4583vw, 1.8rem);
  letter-spacing: -0.03rem;
  line-height: 1.5;
}
.follow-instagram__title strong {
  font-family: "Orelo SemiWide DemiBold", serif;
  font-size: max(3.125vw, 40px);
  letter-spacing: -0.02rem;
  line-height: 1.2;
}
.follow-instagram .gallery {
  display: flex;
  flex-direction: column;
  gap: max(1.25vw, 0.15rem);
}
.follow-instagram .gallery__top {
  display: flex;
  gap: max(1.25vw, 0.15rem);
}
.follow-instagram .gallery__bottom {
  display: flex;
  gap: max(1.25vw, 0.15rem);
}
.follow-instagram .gallery ul {
  display: flex;
  gap: max(1.25vw, 0.15rem);
}
.follow-instagram .gallery ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(var(--uw) * 10.4166666667);
  height: calc(var(--uw) * 10.4166666667);
  overflow: hidden;
}
.follow-instagram .gallery ul a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 120rem;
  position: fixed;
  background-color: #ffffff;
  z-index: 100;
  opacity: 0;
}
header::before {
  content: "";
  width: 100%;
  order: 2;
  border-bottom: 0.14rem solid #ececec;
}

.spot-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
  height: 3rem;
  padding-right: 4vw;
  order: 3;
}
.spot-menu img {
  width: unset;
  height: 1.3rem;
}

.footer {
  min-width: 120rem;
  padding: 0 5rem calc(var(--uw) * 3.125) 5rem;
  background-color: #000000;
  font-family: "Noto Sans KR", sans-serif;
  color: #ffffff;
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3.2rem;
  padding: calc(var(--uw) * 1.6666666667) 0 max(var(--uw) * 4.1666666667, 7.6rem);
  border-top: 0.1rem solid #acacac;
}
.footer__top__left {
  display: flex;
  align-items: center;
  gap: max(var(--uw) * 4.8958333333, 6.4rem);
}
.footer__top__left img {
  width: calc(var(--uw) * 10.4166666667);
  height: calc(var(--uw) * 2.0833333333);
}
.footer__top__left ul {
  display: flex;
  gap: max(var(--uw) * 2.9166666667, 3.2rem);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.footer__top__right > button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 0 2rem;
  border: 0.1rem solid #acacac;
  border-radius: 50rem;
}
.footer__top__right > button span {
  min-width: 10.4rem;
  padding: 0.8rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.footer__top__right > button::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../assets/icons/plus.svg) no-repeat;
  background-size: 1.6rem 1.6rem;
}
.footer__top__right ul {
  display: flex;
  align-items: center;
  gap: 2.6rem;
  padding: 0 2rem;
}
.footer__top__right ul li {
  position: relative;
  opacity: 0.7;
}
.footer__top__right ul li.active {
  opacity: 1;
}
.footer__top__right ul li.active button {
  position: relative;
}
.footer__top__right ul li.active button::after {
  content: "";
  width: 104%;
  height: 0.1rem;
  position: absolute;
  bottom: -0.2rem;
  left: -50%;
  transform: translateX(50%);
  background-color: #acacac;
}
.footer__top__right ul li img {
  width: auto;
  height: 10px;
}
.footer__top__right ul li ~ li::before {
  content: "";
  width: 0.1rem;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1.4rem;
  background-color: #acacac;
}
.footer__middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.1rem solid #acacac;
  border-bottom: 0.1rem solid #acacac;
}
.footer__middle__left {
  display: flex;
  flex: 1;
}
.footer__middle__left ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem 2.4rem;
  padding: 1.2rem 0;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.5;
  color: #acacac;
}
.footer__middle__left ul b {
  color: #ffffff;
}
.footer__middle__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1.5;
}
.footer__middle__right > a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3.2rem;
  border-right: 0.1rem solid #acacac;
  min-height: 7rem;
}
.footer__middle__right > a img {
  display: block;
}
.footer__middle__right > a:first-child {
  border-left: 0.1rem solid #acacac;
}
.footer__middle__right > a:first-child img {
  width: calc(var(--uw) * 4.375);
  min-width: 8.4rem;
  height: 3rem;
}
.footer__middle__right > a:nth-child(2) img {
  width: calc(var(--uw) * 7.2916666667);
  min-width: 14rem;
  height: 1.1rem;
}
.footer__middle__right > a:last-child {
  border-left: 0.1rem solid #acacac;
}
.footer__middle__right > a:last-child img {
  width: calc(var(--uw) * 1.875);
  min-width: 3.6rem;
  height: 3.6rem;
}
.footer__middle__right .sns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.6rem;
}
.footer__middle__right .sns li {
  margin-left: 0.7rem;
}
.footer__middle__right .sns li img {
  display: block;
  min-width: 4rem;
  height: 4rem;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: calc(var(--uw) * 0.8333333333);
  color: #acacac;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: -0.01rem;
  line-height: 1.5;
}
.footer__bottom__left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.8rem 2.4rem;
}
.footer__bottom__left .marks {
  display: flex;
  gap: 2rem;
}
.footer__bottom__left .marks p {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.footer__bottom__left .marks p img {
  width: 3.8rem;
}
.footer__bottom__left .marks p span {
  font-weight: 400;
  font-size: 1rem;
  line-height: 130%;
}
.footer__bottom__right span {
  white-space: nowrap;
}/*# sourceMappingURL=style.css.map */