/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
*/
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

a,
button {
  cursor: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

@font-face {
  font-family: "Orelo SemiWide DemiBold";
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot");
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.svg#Orelo SemiWide DemiBold") format("svg");
}
@font-face {
  font-family: "Orelo SemiWide DemiBold Italic";
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot");
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.svg#Orelo SemiWide DemiBold Italic") format("svg");
}
/* Mouse Cursor Reset */
html {
  cursor: none;
}

.cursor {
  width: 2.1rem;
  height: 2.1rem;
  position: fixed;
  border-radius: 50%;
  background-color: #f653f9;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 20;
}
.cursor.more::before {
  content: "more";
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.01rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.cursor-slide {
  position: absolute;
  color: #f653f9;
  mix-blend-mode: difference;
  opacity: 0;
}
.cursor-slide.prev {
  width: 1.2rem;
  height: 2.4rem;
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: 1.2rem 2.4rem;
  transform-origin: right;
}
.cursor-slide.next {
  width: 1.2rem;
  height: 2.4rem;
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: 1.2rem 2.4rem;
  transform: rotate(180deg);
  transform-origin: left;
}

.gnb {
  display: flex;
  align-items: center;
  order: 1;
  justify-content: space-between;
  height: 6.5rem;
  font-size: 1.5rem;
}
.gnb__logo {
  padding-left: 4vw;
}
.gnb__menu {
  display: flex;
  gap: 4.8rem;
  height: 100%;
}
.gnb__menu li {
  display: flex;
  align-items: center;
  height: 100%;
}
.gnb__search {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-right: 4vw;
}
.gnb__search--left {
  display: flex;
  gap: 0.5rem;
  width: 20rem;
  height: 3.2rem;
  border-radius: 2.5rem;
  background-color: #000000;
}
.gnb__search--right {
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../assets/icons/circle-search-32x32-black.svg");
  background-size: 3.2rem 3.2rem;
}

.branch-info-ani {
  display: flex;
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  border-radius: 2.5rem;
  color: #ffffff;
  overflow: hidden;
}
.branch-info-ani > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.branch-info-ani > div span {
  display: flex;
  gap: 0.5rem;
  white-space: nowrap;
}
.branch-info-ani > div span:first-child {
  margin-left: 0.8rem;
}
.branch-info-ani > div span::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background: url("../../assets/images/quick.gif") center;
  background-size: 1.8rem 1.8rem;
}

html {
  scroll-behavior: smooth;
}

#scroll-to-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  color: #ffffff;
  line-height: 0;
  z-index: 10;
  overflow: hidden;
  transform: scale(0);
}
#scroll-to-top .circle {
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
}
#scroll-to-top .text-wrap {
  display: flex;
  position: absolute;
  top: 50%;
  letter-spacing: -0.2rem;
  font-family: "Orelo SemiWide DemiBold";
  z-index: 10;
}
#scroll-to-top .text-wrap .text {
  display: block;
  font-size: max(var(--uw) * 2, 2.8rem);
}
#scroll-to-top .text-wrap .text:nth-child(2) {
  letter-spacing: 0.1rem;
  font-family: "Orelo SemiWide DemiBold Italic";
}
#scroll-to-top img {
  width: calc(var(--uw) * 1.1979166667);
  height: calc(var(--uw) * 1.875);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.spot-menu, .gnb {
  width: 100%;
  min-width: 120rem;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 130rem;
  position: fixed;
  background-color: #ffffff;
  border-bottom: 0.1rem solid #ececec;
}
header::before {
  content: "";
  width: 100%;
  order: 2;
  border-bottom: 0.1rem solid #ececec;
}

.spot-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  height: 3rem;
  padding-right: 4vw;
  order: 3;
}
.spot-menu img {
  width: unset;
  height: 1.3rem;
}/*# sourceMappingURL=style.css.map */