/***
    The new CSS reset - version 1.11.2 (last updated 15.11.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu,
summary {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly.
 - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* Remove details summary webkit styles */
::-webkit-details-marker {
  display: none;
}

a,
button {
  cursor: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
}

@font-face {
  font-family: "Orelo SemiWide DemiBold";
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot");
  src: url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.woff") format("woff"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/0da4520eba0e03f116ad37c743fd3ffa.svg#Orelo SemiWide DemiBold") format("svg");
}
@font-face {
  font-family: "Orelo SemiWide DemiBold Italic";
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot");
  src: url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.woff") format("woff"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/f1b75ba2deef90318b4ca1517ff2d517.svg#Orelo SemiWide DemiBold Italic") format("svg");
}
/* Mouse Cursor Reset */
html {
  cursor: none;
}

.cursor {
  width: 2.1rem;
  height: 2.1rem;
  position: fixed;
  border-radius: 50%;
  background-color: #f653f9;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 0;
  z-index: 20;
}
.cursor.more::before {
  content: "more";
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: -0.01rem;
  font-size: 0.4rem;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.cursor-slide {
  position: absolute;
  color: #f653f9;
  mix-blend-mode: difference;
  opacity: 0;
}
.cursor-slide.prev {
  width: 1.2rem;
  height: 2.4rem;
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: 1.2rem 2.4rem;
  transform-origin: right;
}
.cursor-slide.next {
  width: 1.2rem;
  height: 2.4rem;
  background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
  background-size: 1.2rem 2.4rem;
  transform: rotate(180deg);
  transform-origin: left;
}

.gnb {
  display: flex;
  align-items: center;
  order: 1;
  justify-content: space-between;
  height: 6.5rem;
  background-color: #ffffff;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid #ececec;
  z-index: 2;
}
.gnb__logo {
  padding-left: 4vw;
}
.gnb__menu-tab {
  display: flex;
  height: 100%;
}
.gnb__menu-tab li {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2.4rem;
}
.gnb__menu-tab li a {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.gnb__menu-tab li a::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 0.2rem solid #000000;
  transition: width 0.2s;
}
.gnb__menu-tab li.--active a::after {
  width: 100%;
}
.gnb__search {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding-right: 4vw;
}
.gnb__search--left {
  display: flex;
  gap: 0.5rem;
  width: 20rem;
  height: 3.2rem;
  border-radius: 2.5rem;
  background-color: #000000;
}
.gnb__search--right {
  width: 3.2rem;
  height: 3.2rem;
  background: url("../../assets/icons/circle-search-32x32-black.svg");
  background-size: 3.2rem 3.2rem;
}
.gnb__search--right.--active {
  background: url("../../assets/icons/circle-close-32x32-black.svg");
}

.branch-info-ani {
  display: flex;
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  border-radius: 2.5rem;
  color: #ffffff;
  overflow: hidden;
}
.branch-info-ani > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.branch-info-ani > div span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  white-space: nowrap;
}
.branch-info-ani > div span:first-child {
  margin-left: 0.8rem;
}
.branch-info-ani > div span::after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  background: url("../../assets/images/quick.gif") center;
  background-size: 1.8rem 1.8rem;
}

.gnb__menu-content {
  width: 100%;
  height: var(--content-height);
  position: absolute;
  top: 9.5rem;
  background-color: #ffffff;
  border-bottom: 0.14rem solid #ececec;
  overflow: hidden;
  transition: height 0.3s;
  z-index: 1;
}

.contents-list {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #666666;
}
.contents-list.--active {
  display: flex;
  justify-content: center;
  gap: 18rem;
  width: 100%;
}
.contents-list__tab {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  padding: 4rem 0 8rem;
}
.contents-list__menu {
  display: none;
  gap: 0 7rem;
  min-width: 70rem;
  padding: 4rem 0 8rem;
}
.contents-list__menu.--active {
  display: flex;
}
.contents-list__menu li {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  min-width: 12.8rem;
}
.contents-list__menu li ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.9rem 5.8rem;
  width: -moz-fit-content;
  width: fit-content;
  max-height: 39rem;
}
.contents-list__menu li ul li {
  width: -moz-fit-content;
  width: fit-content;
}

.list-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: #000000;
}
.list-title.underline {
  font-weight: 400;
  color: #666666;
  transition: all 0.2s;
}
.list-title.underline::after {
  content: "";
  width: 0;
  height: 0.01rem;
  background-color: #000000;
  transition: width 0.2s;
}
.list-title.underline.--active {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-weight: 500;
}
.list-title.underline.--active::after {
  width: 100%;
}

.list-item {
  width: -moz-fit-content;
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  color: #666666;
  transition: all 0.2s;
}
.list-item.title {
  font-size: 1.5rem;
  font-weight: 500;
}
.list-item::after {
  content: "";
  display: block;
  width: 0;
  height: 0.01rem;
  position: absolute;
  background-color: #666666;
  transition: width 0.2s;
}
.list-item:hover {
  color: #000000;
  font-weight: 500;
}
.list-item:hover::after {
  width: 100%;
}

#culture-life ul {
  display: flex;
  gap: 12rem;
  padding: 4rem 0 8rem;
}

.gnb__branchinfo-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: transparent;
}

.gnb__search-box {
  opacity: 0;
}
.gnb__search-box .search-dimmed {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 9.5rem;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.gnb__search-box .search-area {
  position: absolute;
  top: 9.5rem;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  border-bottom: 0.14rem solid #ececec;
  z-index: 1;
  overflow: hidden;
}
.gnb__search-box .search-area .search-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: 45.5rem;
}
.gnb__search-box .search-area .search-wrap--top {
  display: flex;
  width: 100rem;
  height: 7rem;
  border: 0.1rem solid #000000;
  border-radius: 20rem;
}
.gnb__search-box .search-area .search-wrap--top .search-select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  position: relative;
  padding: 0 3rem;
}
.gnb__search-box .search-area .search-wrap--top .search-select::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 0.1rem;
  height: 3rem;
  background-color: #ececec;
}
.gnb__search-box .search-area .search-wrap--top .search-select::after {
  content: "";
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../assets/icons/bottom-16x16-black.svg) no-repeat center;
  background-size: 1.6rem 1.6rem;
}
.gnb__search-box .search-area .search-wrap--top .search-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 0 3rem;
}
.gnb__search-box .search-area .search-wrap--top .search-input input {
  width: 100%;
  height: 100%;
}
.gnb__search-box .search-area .search-wrap--top .search-input::after {
  content: "";
  width: 2rem;
  height: 2rem;
  background: url(../../assets/icons/search-20x20-black.svg) no-repeat center;
  background-size: 2rem 2rem;
}
.gnb__search-box .search-area .search-wrap--bottom {
  display: flex;
  width: 80rem;
  gap: 10rem;
}
.gnb__search-box .search-area .search-wrap--bottom h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword div {
  font-size: 1.2rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recent-keyword button {
  position: absolute;
  top: 0.4rem;
  right: 0;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.gnb__search-box .search-area .search-wrap--bottom .recommend-keyword ul li {
  padding: 1rem;
  border-radius: 2rem;
  background-color: #ececec;
  font-size: 1.2rem;
}

.lang-btn {
  position: relative;
}
.lang-btn .lang {
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 2rem;
  right: -4rem;
  z-index: 2;
}
.lang-btn .lang .lang-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 7.8rem;
  padding: 1.4rem 0;
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.8rem;
}
.lang-btn .lang .lang-wrap::before {
  content: "";
  position: absolute;
  top: 0.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-bottom: 0.9rem solid #000000;
  border-left: 0.8rem solid transparent;
  border-right: 0.8rem solid transparent;
}
.lang-btn .lang .lang-wrap span {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #ffffff;
}
.lang-btn .lang .lang-wrap span::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  width: 0;
  height: 0.1rem;
  background-color: #ececec;
  transition: width 0.2s;
}
.lang-btn .lang .lang-wrap span:hover::before {
  width: 100%;
}

.gnb__search--left {
  position: relative;
}
.gnb__search--left .content {
  width: 0;
  height: 0;
  position: absolute;
  top: 4.8rem;
  right: 0;
  background-color: #ffffff;
  border: 0.1rem solid #666666;
  border-radius: 2rem;
  transform-origin: top right;
  transition: transform 0.5s ease-in-out;
  overflow: hidden;
}
.gnb__search--left .content .content-wrap {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4rem;
  padding-top: 2rem;
  letter-spacing: -0.01rem;
}
.gnb__search--left .content .content-wrap .content-title-wrap {
  display: flex;
  gap: 1.6rem;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #d9d9d9;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title {
  line-height: 1.5;
  font-size: 1.6rem;
  font-weight: 500;
  color: #acacac;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title:hover {
  color: #000000;
  font-weight: 700;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #000000;
}
.gnb__search--left .content .content-wrap .content-title-wrap .content-title.--active {
  color: #000000;
  font-weight: 700;
  padding-bottom: 1.2rem;
  border-bottom: 0.2rem solid #000000;
}
.gnb__search--left .content .content-wrap .content-list {
  display: none;
  flex-direction: column;
  gap: 2.8rem;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-radius: 0.6rem;
  background-color: #f6f6f6;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li:hover {
  background-color: #e0f55c;
}
.gnb__search--left .content .content-wrap .content-list.shopping-mall.--active li .sub-list {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}
.gnb__search--left .content .content-wrap .content-list.--active {
  display: flex;
}
.gnb__search--left .content .content-wrap .content-list li {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.gnb__search--left .content .content-wrap .content-list li .sub-title {
  color: #333333;
  font-size: 1.5rem;
  font-weight: 500;
}
.gnb__search--left .content .content-wrap .content-list li ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}
.gnb__search--left .content .content-wrap .content-list li ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0;
  border-radius: 0.6rem;
  background-color: #f6f6f6;
}
.gnb__search--left .content .content-wrap .content-list li ul li:hover {
  background-color: #e0f55c;
}
.gnb__search--left .content .content-wrap .content-list li ul li .sub-list {
  font-size: 1.4rem;
  font-weight: 400;
  color: #333333;
}

html {
  scroll-behavior: smooth;
}

#scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4.8rem;
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: fixed;
  bottom: 5rem;
  right: 5rem;
  color: #ffffff;
  line-height: 0;
  z-index: 10;
  overflow: hidden;
  transform: scale(0);
}
#scroll-to-top .circle {
  width: max(var(--uw) * 6.25, 9.4rem);
  height: max(var(--uw) * 6.25, 9.4rem);
  position: absolute;
  border-radius: 50%;
  background-color: #000000;
}
#scroll-to-top .text-wrap {
  display: flex;
  position: absolute;
  top: 50%;
  letter-spacing: -0.2rem;
  font-family: "Orelo SemiWide DemiBold";
  z-index: 10;
}
#scroll-to-top .text-wrap .text {
  display: block;
  font-size: max(var(--uw) * 2, 2.8rem);
}
#scroll-to-top .text-wrap .text:nth-child(2) {
  letter-spacing: 0.1rem;
  font-family: "Orelo SemiWide DemiBold Italic";
}
#scroll-to-top img {
  width: calc(var(--uw) * 1.1979166667);
  height: calc(var(--uw) * 1.875);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
}

.spot-menu, .gnb {
  width: 100%;
  min-width: 120rem;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 130rem;
  position: fixed;
  background-color: #ffffff;
}
header::before {
  content: "";
  width: 100%;
  order: 2;
  border-bottom: 0.14rem solid #ececec;
}

.spot-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1.6rem;
  height: 3rem;
  padding-right: 4vw;
  order: 3;
}
.spot-menu img {
  width: unset;
  height: 1.3rem;
}

main {
  padding-top: 20rem;
}/*# sourceMappingURL=style.css.map */