.footer {
  min-width: 120rem;
  padding: 0 5rem calc(var(--uw) * 3.125) 5rem;
  background-color: $black;
  font-family: "Noto Sans KR", sans-serif;
  color: $white;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3.2rem;
    padding: calc(var(--uw) * 1.6666666667) 0
      max(var(--uw) * 4.1666666667, 7.6rem);
    border-top: 0.1rem solid $grayac;
    &__left {
      display: flex;
      align-items: center;
      gap: max(var(--uw) * 4.8958333333, 6.4rem);
      img {
        width: calc(var(--uw) * 10.4166666667);
        height: calc(var(--uw) * 2.0833333333);
      }
      ul {
        display: flex;
        gap: max(var(--uw) * 2.9166666667, 3.2rem);
        font-size: 16px;
        font-weight: 500;
        letter-spacing: -0.01rem;
        line-height: 1.5;
      }
    }
    &__right {
      > button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        padding: 0 2rem;
        border: 0.1rem solid $grayac;
        border-radius: 50rem;
        span {
          min-width: 10.4rem;
          padding: 0.8rem 0;
          font-size: 1.6rem;
          font-weight: 400;
          letter-spacing: -0.01rem;
          line-height: 1.5;
        }
        &::after {
          content: "";
          width: 1.6rem;
          height: 1.6rem;
          background: url(../../assets/icons/plus.svg) no-repeat;
          background-size: 1.6rem 1.6rem;
        }
      }
      ul {
        display: flex;
        align-items: center;
        gap: 2.6rem;
        padding: 0 2rem;
        li {
          position: relative;
          opacity: 0.7;
          &.active {
            opacity: 1;
            button {
              position: relative;
              &::after {
                content: "";
                width: 104%;
                height: 0.1rem;
                position: absolute;
                bottom: -0.2rem;
                left: -50%;
                transform: translateX(50%);
                background-color: $grayac;
              }
            }
          }
          img {
            width: auto;
            height: 10px;
          }
        }
        li ~ li::before {
          content: "";
          width: 0.1rem;
          height: 100%;
          position: absolute;
          top: 0;
          left: -1.4rem;
          background-color: $grayac;
        }
      }
    }
  }
  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 0.1rem solid $grayac;
    border-bottom: 0.1rem solid $grayac;
    &__left {
      display: flex;
      flex: 1;
      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem 2.4rem;
        padding: 1.2rem 0;
        font-size: 1.3rem;
        font-weight: 400;
        letter-spacing: -0.01rem;
        line-height: 1.5;
        color: $grayac;
        b {
          color: $white;
        }
      }
    }
    &__right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1.5;
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 3.2rem;
        border-right: 0.1rem solid $grayac;
        min-height: 7rem;
        img {
          display: block;
        }
        &:first-child {
          border-left: 0.1rem solid $grayac;
          img {
            width: calc(var(--uw) * 4.375);
            min-width: 8.4rem;
            height: 3rem;
          }
        }
        &:nth-child(2) {
          img {
            width: calc(var(--uw) * 7.2916666667);
            min-width: 14rem;
            height: 1.1rem;
          }
        }
        &:last-child {
          border-left: 0.1rem solid $grayac;
          img {
            width: calc(var(--uw) * 1.875);
            min-width: 3.6rem;
            height: 3.6rem;
          }
        }
      }
      .sns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 1.6rem;
        li {
          margin-left: 0.7rem;
          img {
            display: block;
            min-width: 4rem;
            height: 4rem;
          }
        }
      }
    }
  }
  &__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: calc(var(--uw) * 0.8333333333);
    color: $grayac;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: -0.01rem;
    line-height: 1.5;
    &__left {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.8rem 2.4rem;
      .marks {
        display: flex;
        gap: 2rem;
        p {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          img {
            width: 3.8rem;
          }
          span {
            font-weight: 400;
            font-size: 1rem;
            line-height: 130%;
          }
        }
      }
    }
    &__right {
      span {
        white-space: nowrap;
      }
    }
  }
}
