header {
  @include flex-center-vert;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 120rem;
  position: fixed;
  background-color: $white;
  &::before {
    content: "";
    width: 100%;
    order: 2;
    border-bottom: 0.14rem solid $grayec;
  }
  z-index: 100;
  opacity: 0;
}

.spot-menu {
  @include flex-center-vert;
  justify-content: flex-end;
  gap: 1.6rem;
  @extend %layout-center;
  height: 3rem;
  padding-right: 4vw;
  order: 3;
  img {
    width: unset;
    height: 1.3rem;
  }
}

// main {
//   padding-top: 20rem;
// }
