header {
  @include flex-center-vert;
  flex-direction: column-reverse;
  width: 100%;
  min-width: 130rem;
  position: fixed;
  background-color: $white;
  border-bottom: 0.1rem solid $grayec;
  &::before {
    content: "";
    width: 100%;
    order: 2;
    border-bottom: 0.1rem solid $grayec;
  }
}

.spot-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.6rem;
  @extend %layout-center;
  height: 3rem;
  padding-right: 4vw;
  order: 3;
  img {
    width: unset;
    height: 1.3rem;
  }
}
