.start-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 100;
}

.enjoy-your-time {
  padding-top: 9.6rem;
  min-width: 100rem;
  height: 120vh;
  &__wrap {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: $white;
    img {
      width: 60.833vw;
      height: 34.2706vw;
      position: absolute;
      top: 7rem;
      left: 50%;
      transform: translateX(-50%);
    }
    p {
      width: 100%;
      min-width: 75rem;
      position: absolute;
      top: 28vw;
      font-family: "Orelo SemiWide DemiBold Italic";
      font-size: max(9.375vw, 8.7rem);
      color: $white;
      text-align: center;
      mix-blend-mode: difference;
      letter-spacing: -0.02rem;
      line-height: 100%;
      z-index: 1;
      .line:first-child {
        .word:first-child {
          position: relative;
          .char:last-child {
            position: absolute;
            top: -22%;
            right: -12%;
            transform: scaleY(0.9);
          }
        }
      }
    }
  }
}

.whats-on-slider {
  display: flex;
  flex-direction: column;
  gap: calc(var(--uw) * 2.2916666667);
  width: 100%;
  height: 100vh;
  ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: fit-content;
    height: fit-content;
    li {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: 26vw;
      &:nth-child(3),
      &:nth-child(6) {
        a {
          border-radius: 50%;
          overflow: hidden;
        }
      }
      &:last-child {
        width: fit-content;
        margin: 0 2vw;
        padding-top: 1vw;
        padding-right: 1vw;
        a {
          position: relative;
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(var(--uw) * 3.1770833333);
            height: calc(var(--uw) * 1.9791666667);
            background-image: url("../../assets/icons/more-arrow.svg");
          }
          img {
            width: calc(var(--uw) * 14.0625);
            height: calc(var(--uw) * 14.0625);
          }
        }
      }
      &:nth-child(2) {
        a .slide {
          background: linear-gradient(
            rgba(187, 176, 111, 0) 0%,
            rgb(111, 122, 187) 100%
          );
        }
      }
      &:nth-child(3) {
        a .slide {
          background: linear-gradient(
            rgba(81, 67, 61, 0) 0%,
            rgb(61, 75, 81) 100%
          );
        }
      }
      &:nth-child(4) {
        a .slide {
          background: linear-gradient(
            rgba(170, 176, 145, 0) 0%,
            rgb(151, 145, 176) 100%
          );
        }
      }
      &:nth-child(5) {
        a .slide {
          background: linear-gradient(
            rgba(146, 193, 148, 0) 0%,
            rgb(193, 146, 191) 100%
          );
        }
      }
      &:nth-child(6) {
        a .slide {
          background: linear-gradient(
            rgba(220, 220, 197, 0) 0%,
            rgb(197, 197, 220) 100%
          );
        }
      }
      &:nth-child(7) {
        a .slide {
          background: linear-gradient(
            rgba(151, 101, 68, 0) 0%,
            rgb(68, 118, 151) 100%
          );
        }
      }
      &:nth-child(8) {
        a .slide {
          background: linear-gradient(
            rgba(158, 167, 175, 0) 0%,
            rgb(175, 166, 158) 100%
          );
        }
      }
      &:nth-child(9) {
        a .slide {
          background: linear-gradient(
            rgba(51, 189, 132, 0) 0%,
            rgb(189, 51, 108) 100%
          );
        }
      }
      &:nth-child(10) {
        a .slide {
          background: linear-gradient(
            rgba(171, 170, 115, 0) 0%,
            rgb(115, 116, 171) 100%
          );
        }
      }
      &:nth-child(11) {
        a .slide {
          background: linear-gradient(
            rgba(217, 207, 201, 0) 0%,
            rgb(201, 211, 217) 100%
          );
        }
      }
      &:nth-child(12) {
        a .slide {
          background: linear-gradient(
            rgba(241, 235, 201, 0) 0%,
            rgb(201, 207, 241) 100%
          );
        }
      }
      div {
        display: flex;
        gap: 2rem;
        font-family: "Noto Sans KR", sans-serif;
        font-size: max(0.9375vw, 1.6rem);
        font-weight: 400;
      }
      a {
        display: block;
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        position: relative;
        .slide {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: linear-gradient(
            rgba(106, 128, 128, 0) 0%,
            rgb(128, 106, 106) 100%
          );
          opacity: 0;
          transition: opacity 0.5s;
          &__wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: calc(var(--uw) * 15.3125);
            padding-bottom: max(var(--uw) * 2.0833333333, 30px);
            font-family: "Noto Sans KR", sans-serif;
            font-size: 2rem;
            color: $white;
            &__target {
              font-size: max(0.8333vw, 12px);
              font-weight: 400;
              letter-spacing: 0em;
              line-height: 1.5;
            }
            &__title,
            &__sub-title {
              font-size: max(1.25vw, 16px);
              font-weight: 500;
              letter-spacing: -0.02em;
              line-height: 1.5;
            }
            &__title {
              margin-top: 0.8rem;
            }
            &__sub-title {
              margin-bottom: 0.8rem;
            }
            &__read-more {
              position: relative;
              font-size: calc(var(--uw) * 0.8333333333);
              font-weight: 400;
              &::after {
                content: "";
                width: 0;
                height: 0.1rem;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: $white;
                transition: width 0.5s;
              }
            }
          }
        }
        &:hover {
          .slide {
            opacity: 1;
            &__wrap {
              &__read-more {
                &::after {
                  width: 100%;
                }
              }
            }
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  h3 {
    padding: 0 4.1667vw;
    font-family: "Orelo SemiWide DemiBold";
    font-size: 7.5vw;
    letter-spacing: -0.02rem;
    span {
      font-family: "Orelo SemiWide DemiBold Italic";
    }
  }
}
