%content {
  width: 0;
  height: 0;
  // position: absolute;
  // top: 4.8rem;
  // right: 0;
  background-color: $white;
  border: 0.1rem solid $gray66;
  border-radius: 2rem;
  // transform-origin: top right;
  // transition: transform 0.5s ease-in-out;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
  z-index: 3;
  .content-wrap {
    display: flex;
    flex-direction: column;
    gap: 2.8rem;
    width: 67.5rem;
    height: fit-content;
    padding: 4rem;
    padding-top: 2rem;
    letter-spacing: -0.01rem;
    .content-title-wrap {
      display: flex;
      gap: 1.6rem;
      padding-bottom: 1.2rem;
      border-bottom: 0.2rem solid $grayd9;
      .content-title {
        line-height: 1.5;
        font-size: 1.6rem;
        font-weight: 500;
        color: $grayac;
        &:hover {
          color: $black;
          font-weight: 700;
          padding-bottom: 1.2rem;
          border-bottom: 0.2rem solid $black;
        }
        &.--active {
          color: $black;
          font-weight: 700;
          padding-bottom: 1.2rem;
          border-bottom: 0.2rem solid $black;
        }
      }
    }
    .content-list {
      display: none;
      flex-direction: column;
      gap: 2.8rem;
      &.shopping-mall.--active {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 0.5rem;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0.6rem 0;
          border-radius: 0.6rem;
          background-color: $grayf6;
          &:hover {
            background-color: $signature;
          }
          .sub-list {
            font-size: 1.4rem;
            font-weight: 400;
            color: $gray33;
          }
        }
      }
      &.--active {
        display: flex;
      }
      li {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        .sub-title {
          color: $gray33;
          font-size: 1.5rem;
          font-weight: 500;
        }
        ul {
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 0.5rem;
          li {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0.6rem 0;
            border-radius: 0.6rem;
            background-color: $grayf6;
            &:hover {
              background-color: $signature;
            }
            .sub-list {
              font-size: 1.4rem;
              font-weight: 400;
              color: $gray33;
            }
          }
        }
      }
    }
  }
}
