/* Mouse Cursor Reset */
html {
  cursor: none;
}

// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 100%;
//   height: 100vh;
//   gap: 4rem;
// }

.cursor {
  width: 2.1rem;
  height: 2.1rem;
  position: fixed;
  border-radius: 50%;
  background-color: $cursor;
  pointer-events: none;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  opacity: 0;
  &.more::before {
    content: "more";
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: -0.01rem;
    font-size: 0.4rem;
    font-weight: bold;
    color: $black;
    text-transform: uppercase;
  }
}
.cursor-slide {
  position: absolute;
  color: $cursor;
  mix-blend-mode: difference;
  opacity: 0;
  &.prev {
    width: 1.2rem;
    height: 2.4rem;
    background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
    background-size: 1.2rem 2.4rem;
    transform-origin: right;
  }
  &.next {
    width: 1.2rem;
    height: 2.4rem;
    background: url("../../assets/icons/cursor_arrow.svg") no-repeat center;
    background-size: 1.2rem 2.4rem;
    transform: rotate(180deg);
    transform-origin: left;
  }
}

// .sample {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 30rem;
//   height: 40rem;
//   border-radius: 2rem;
//   background-color: rgb(255, 225, 0);
//   font-size: 2rem;
//   user-select: none;
// }

// .sample2 {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 30rem;
//   height: 40rem;
//   border-radius: 2rem;
//   background-color: blue;
//   font-size: 2rem;
//   color: $white;
//   user-select: none;
// }
