.gnb {
  @include flex-center-vert;
  order: 1;
  justify-content: space-between;
  @extend %layout-center;
  height: 6.5rem;
  background-color: $white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid $grayec;
  z-index: 2;
  &__logo {
    padding-left: 4vw;
  }
  &__menu-tab {
    display: flex;
    height: 100%;
    li {
      @include flex-center-vert;
      height: 100%;
      padding: 0 2.4rem;
      a {
        @include flex-center-vert;
        height: 100%;
        position: relative;
        &::after {
          content: "";
          width: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 0.2rem solid $black;
          transition: width 0.2s;
        }
      }
      &.--active {
        a::after {
          width: 100%;
        }
      }
    }
  }
  &__search {
    @include flex-center-vert;
    gap: 1.6rem;
    padding-right: 4vw;
    &--left {
      display: flex;
      gap: 0.5rem;
      width: 20rem;
      height: 3.2rem;
      border-radius: 2.5rem;
      background-color: $black;
    }
    &--right {
      width: 3.2rem;
      height: 3.2rem;
      background: url("../../assets/icons/circle-search-32x32-black.svg");
      background-size: 3.2rem 3.2rem;
    }
  }
  &__search-background {
    display: none;
    position: absolute;
    width: 100%;
    height: 200vh;
    background-color: transparent;
  }
}

.branch-info-ani {
  display: flex;
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  border-radius: 2.5rem;
  color: $white;
  overflow: hidden;
  > div {
    @include flex-center-vert;
    gap: 0.5rem;
    span {
      @include flex-center-vert;
      gap: 0.5rem;
      white-space: nowrap;
      &:first-child {
        margin-left: 0.8rem;
      }
      &::after {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        background: url("../../assets/images/quick.gif") center;
        background-size: 1.8rem 1.8rem;
      }
    }
  }
}

.gnb__menu-content {
  width: 100%;
  height: var(--content-height);
  position: absolute;
  top: 9.5rem;
  background-color: $white;
  border-bottom: 0.14rem solid $grayec;
  overflow: hidden;
  transition: height 0.3s;
  z-index: 1;
}

.contents-list {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray66;
  &.--active {
    @include flex-center-horiz;
    gap: 18rem;
    width: 100%;
  }
  &__tab {
    @include flex-column;
    gap: 2.7rem;
    padding: 4rem 0 8rem;
  }
  &__menu {
    display: none;
    gap: 0 7rem;
    min-width: 70rem;
    padding: 4rem 0 8rem;
    &.--active {
      display: flex;
    }
    li {
      @include flex-column;
      gap: 2.7rem;
      min-width: 12.8rem;
      ul {
        @include flex-column;
        flex-wrap: wrap;
        gap: 1.9rem 5.8rem;
        width: fit-content;
        max-height: 39rem;
        li {
          width: fit-content;
        }
      }
    }
  }
}

.list-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $black;
  &.underline {
    font-weight: 400;
    color: $gray66;
    transition: all 0.2s;
    &::after {
      content: "";
      width: 0;
      height: 0.01rem;
      background-color: $black;
      transition: width 0.2s;
    }
    &.--active {
      @include flex-column;
      color: $black;
      font-weight: 500;
      &::after {
        width: 100%;
      }
    }
  }
}

.list-item {
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  color: $gray66;
  transition: all 0.2s;
  &.title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.01rem;
    position: absolute;
    background-color: $gray66;
    transition: width 0.2s;
  }
  &:hover {
    color: $black;
    font-weight: 500;
    &::after {
      width: 100%;
    }
  }
}

#culture-life {
  ul {
    display: flex;
    gap: 12rem;
    padding: 4rem 0 8rem;
  }
}
