.gnb {
  @include flex-center-vert;
  order: 1;
  justify-content: space-between;
  @extend %layout-center;
  height: 6.5rem;
  background-color: $white;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1.5rem;
  border-bottom: 0.1rem solid $grayec;
  z-index: 2;
  &__logo {
    padding-left: 4vw;
  }
  &__menu-tab {
    display: flex;
    height: 100%;
    li {
      @include flex-center-vert;
      height: 100%;
      padding: 0 2.4rem;
      a {
        @include flex-center-vert;
        height: 100%;
        position: relative;
        &::after {
          content: "";
          width: 0;
          position: absolute;
          bottom: 0;
          left: 0;
          border-bottom: 0.2rem solid $black;
          transition: width 0.2s;
        }
      }
      &.--active {
        a::after {
          width: 100%;
        }
      }
    }
  }
  &__search {
    @include flex-center-vert;
    gap: 1.6rem;
    padding-right: 4vw;
    &--left {
      display: flex;
      gap: 0.5rem;
      width: 20rem;
      height: 3.2rem;
      border-radius: 2.5rem;
      background-color: $black;
    }
    &--right {
      width: 3.2rem;
      height: 3.2rem;
      background: url("../../assets/icons/circle-search-32x32-black.svg");
      background-size: 3.2rem 3.2rem;
      &.--active {
        background: url("../../assets/icons/circle-close-32x32-black.svg");
      }
    }
  }
}

.branch-info-ani {
  display: flex;
  width: 20rem;
  height: 3.2rem;
  position: absolute;
  border-radius: 2.5rem;
  color: $white;
  overflow: hidden;
  > div {
    @include flex-center-vert;
    gap: 0.5rem;
    span {
      @include flex-center-vert;
      gap: 0.5rem;
      white-space: nowrap;
      &:first-child {
        margin-left: 0.8rem;
      }
      &::after {
        content: "";
        width: 1.8rem;
        height: 1.8rem;
        background: url("../../assets/images/quick.gif") center;
        background-size: 1.8rem 1.8rem;
      }
    }
  }
}

.gnb__menu-content {
  width: 100%;
  height: var(--content-height);
  position: absolute;
  top: 9.5rem;
  background-color: $white;
  border-bottom: 0.14rem solid $grayec;
  overflow: hidden;
  transition: height 0.3s;
  z-index: 1;
}

.contents-list {
  display: none;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray66;
  &.--active {
    @include flex-center-horiz;
    gap: 18rem;
    width: 100%;
  }
  &__tab {
    @include flex-column;
    gap: 2.7rem;
    padding: 4rem 0 8rem;
  }
  &__menu {
    display: none;
    gap: 0 7rem;
    min-width: 70rem;
    padding: 4rem 0 8rem;
    &.--active {
      display: flex;
    }
    li {
      @include flex-column;
      gap: 2.7rem;
      min-width: 12.8rem;
      ul {
        @include flex-column;
        flex-wrap: wrap;
        gap: 1.9rem 5.8rem;
        width: fit-content;
        max-height: 39rem;
        li {
          width: fit-content;
        }
      }
    }
  }
}

.list-title {
  font-size: 1.5rem;
  font-weight: 500;
  color: $black;
  &.underline {
    font-weight: 400;
    color: $gray66;
    transition: all 0.2s;
    &::after {
      content: "";
      width: 0;
      height: 0.01rem;
      background-color: $black;
      transition: width 0.2s;
    }
    &.--active {
      @include flex-column;
      color: $black;
      font-weight: 500;
      &::after {
        width: 100%;
      }
    }
  }
}

.list-item {
  width: fit-content;
  box-sizing: border-box;
  position: relative;
  font-weight: 400;
  color: $gray66;
  transition: all 0.2s;
  &.title {
    font-size: 1.5rem;
    font-weight: 500;
  }
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0.01rem;
    position: absolute;
    background-color: $gray66;
    transition: width 0.2s;
  }
  &:hover {
    color: $black;
    font-weight: 500;
    &::after {
      width: 100%;
    }
  }
}

#culture-life {
  ul {
    display: flex;
    gap: 12rem;
    padding: 4rem 0 8rem;
  }
}

.gnb__branchinfo-background {
  display: none;
  position: absolute;
  width: 100%;
  height: 200vh;
  background-color: transparent;
  z-index: 3;
}
.gnb__search-box {
  .search-dimmed {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 9.5rem;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
  }
  .search-area {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    position: absolute;
    top: 9.5rem;
    left: 0;
    background-color: $white;
    border-bottom: 0.14rem solid $grayec;
    z-index: 1;
    overflow: hidden;
    .search-wrap {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.8rem;
      width: fit-content;
      height: 45.5rem;
      font-family: "Noto Sans KR", sans-serif;
      letter-spacing: -0.01rem;
      &--top {
        display: flex;
        align-items: center;
        width: 99.8rem;
        height: 6.8rem;
        padding-right: 2.5rem;
        border: 0.1rem solid $black;
        border-radius: 100rem;
        .search-select {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 40%;
          height: 100%;
          position: relative;
          padding: 0 3rem;
          font-size: 1.6rem;
          font-weight: 500;
          > div {
            display: flex;
            gap: 0.4em;
            span:last-child {
              font-weight: 700;
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 0.1rem;
            height: 2.4rem;
            background-color: $grayd9;
          }
          &::after {
            content: "";
            width: 1.6rem;
            height: 1.6rem;
            background: url(../../assets/icons/bottom-16x16-black.svg) no-repeat
              center;
            background-size: 1.6rem 1.6rem;
            transition: transform 0.3s;
          }
          &.--active::after {
            transform: rotate(180deg);
          }
        }
        .search-input {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 60%;
          height: 50%;
          padding-left: 2.5rem;
          input {
            width: 100%;
            height: 100%;
            font-size: 1.6rem;
            font-weight: 400;
            &::placeholder {
              height: 100%;
              font-size: 1.6rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.01rem;
              color: $grayac;
            }
          }
          &::after {
            content: "";
            width: 2rem;
            height: 2rem;
            background: url(../../assets/icons/search-20x20-black.svg) no-repeat
              center;
            background-size: 2rem 2rem;
          }
        }
      }
      &--bottom {
        display: flex;
        width: 82rem;
        gap: 10rem;
        padding-bottom: 6.4rem;
        h3 {
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.01rem;
        }
        .recent-keyword {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1.8rem;
          position: relative;
          div {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.6;
            letter-spacing: -0.01rem;
            color: $grayac;
          }
          button {
            position: absolute;
            top: 0.4rem;
            right: 0;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01rem;
            color: $gray66;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: -5rem;
            transform: translateY(-50%);
            width: 0.1rem;
            height: 13.7rem;
            background-color: $grayd9;
          }
        }
        .recommend-keyword {
          flex: 1;
          display: flex;
          flex-direction: column;
          gap: 1.8rem;
          ul {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            li {
              padding: 1rem;
              border-radius: 2.5rem;
              background-color: $grayf6;
              font-size: 1.4rem;
              font-weight: 400;
              line-height: 1.5;
              letter-spacing: -0.01rem;
              color: $gray33;
            }
          }
        }
      }
    }
  }
  .content {
    @extend %content;
    position: absolute;
    top: 26rem;
    transform-origin: top left;
  }
}
