$cursor: #f653f9;
$signature: #e0f55c;
$black: #000000;
$gray33: #333333;
$gray66: #666666;
$grayac: #acacac;
$grayd9: #d9d9d9;
$grayec: #ececec;
$grayf6: #f6f6f6;
$white: #ffffff;

$shadow: 0.08rem 0.08rem 0.1rem rgba(0, 0, 0, 0.18);
